h1 login page
form(method='post', action='/login')
	div.input.clearfix
		label(for='email').label Email:
		input(type='text', id='email', name='email', placeholder='Email')

	div.input.clearfix
		label(for='password').label	Password:
		input(type='password', id='password', name='password', placeholder='Password')

	div.input.clearfix
		input(type='submit', id='submit', class='button', value='Login')
		input(type='hidden', name='_csrf', value=csrf)
	
		a(href='/forgot')#forgot forgot password?