h1 user inbox
div#msg
	-if(messages.length < 1)
		h2 no messages, yet.

	-else
		each message in messages
			p
				img(src=assetUrl + 'img/' + message.pic + assetVersion).profile-img
				a(href='/messages/' + message.id)=message.username
				=message.msg

				form(method='post', action='/messages/delete')
					input(type='hidden', name='msgId', value=message.msgId)
					input(type='hidden', name='_csrf', value=csrf)
					input(type='submit', id='submit', class='button', value='delete')