h1 pic uploader
input(type='file', id='fileupload', name='files[]', data-url='user/upload', multiple)
script
	$(function () {
	$('#fileupload').fileupload({
	dataType: 'json',
	done: function (e, data) {
	$.each(data.result, function (index, file) {
	$('<p/>').text(file.name).appendTo(document.body);
	});
	}
	});
	});